@font-face {
	font-family: 'MissionScript';
	src: url(../fonts/Mission-Script.otf);
}

@font-face {
	font-family: 'BebasNeue';
	src: url(../fonts/BebasNeue.otf);
}

@font-face {
	font-family: 'LoraBold';
	src: url(../fonts/Lora-Bold.ttf);
}

@font-face {
	font-family: 'LoraItalic';
	src: url(../fonts/Lora-Italic.ttf);
}
/* GOOGLE FONTS */

body {
	color: #F2EBE0;
	background-color: #A7C5BD;
	font-family: sans-serif;
}


/* HEADER */
header {
	text-align: center;
	padding: 10px 194px;
}

h1 {
	font-family: 'MissionScript';
	font-size: 64px;
	font-weight: normal;
	letter-spacing: .03em;
	text-shadow: 0 -1px 1px grey;
	margin-top: 40px;
}

header section {
	float: right;
}

header section a {
	margin-left: 5px;
}

nav {
	margin: 0 350px;
	padding: 7px 0;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: .02em;

	background-image: -webkit-gradient(linear, 0% 0%, 0% 10%, from(#999), to(#F2EBE0));
	background-image: -moz-linear-gradient(0% 10% 90deg, #F2EBE0, #999);

	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	-o-border-radius: 18px;
	border-radius: 18px;
}

nav ul li {
	display: inline;
	padding: 0 12px;
}

nav ul li a {
	color: #A7C5BD;
	text-decoration: none;
	text-shadow: .8px .8px .8px #999, .8px .8px .8px #999;
}

nav ul li a:hover,
nav ul li a:focus {
	color: #FF8A84;
}

.socialIcons img {
	opacity: 0.25;

	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

.socialIcons a:hover img,
.socialIcons a:focus img {
	opacity: 0.8;
}
/* END OF HEADER */


/* MAIN CONTENT */
main {
	margin: 0 194px;
	border-top: 2px solid #F2EBE0;
}

	/* INTRO */
	#intro {
		text-align: center;
		padding: 100px;
	}

	#intro img {
		width: 300px;
		border-radius: 50%;
		box-shadow: 0 5px 4px -4px black;
	}

	#intro h2 {
		font-family: 'BebasNeue';
		font-weight: normal;
		font-size: 32px;
		text-shadow: 0 -1px 1px grey;
		padding-top: 20px;
		line-height: 2em;
		word-spacing: 5px;
	}

	#intro span {
		font-family: 'MissionScript';
		font-size: 72px;	
		word-spacing: normal;
	}
	/* END OF INTRO */

	/* SKILLS AND TOOLS */
	#skillsAndTools {
		padding: 0 270px;
		padding-bottom: 150px;
	}

	#skills,
	#tools {
		float: left;
		width: 150px;
		text-align: center;
		padding: 20px 30px;
	}

	#skills {
		border-right: 1px solid #F2EBE0;
	}

	#skillsAndTools h3 {
		font-family: 'BebasNeue';
		font-weight: normal;
		font-size: 26px;
		padding-bottom: 5px;
	}

	#skillsAndTools ul li {
		list-style: none;
		padding-top: 5px;
	}
	/* END OF SKILLS AND TOOLS */

	/* MY WORKS */
	#myWorks {
		clear: both;
		text-align: center;
		padding-top: 150px;
	}

	#myWorks h3 {
		font-family: 'BebasNeue';
		font-weight: normal;
		font-size: 26px;
		padding-bottom: 15px;
	}

	#myWorks ul li {
		list-style: none;
		padding-top: 10px;
	}

	#myWorks ul li:first-child {
		padding-top: 0;
	}

	#myWorks ul li a {
		text-decoration: none;
		color: #F2EBE0;
	}

	#myWorks ul li a:hover,
	#myWorks ul li a:focus {
		font-weight: bold;
		color: #524656;
	}
	/* END OF MY WORKS */
/* END OF MAIN CONTENT */


/* FOOTER */
footer {
	clear: both;
	text-align: center;
	display: block;
	margin: 194px 0;
	background-color: #CF4647;
	margin-bottom: 0;
	padding: 20px;
}

footer section p {
	line-height: 1.2em;
}

footer section a {
	text-decoration: none;
	color: #F2EBE0;
	padding-bottom: 3px;
}

footer section a:hover,
footer section a:focus {
	border-bottom: 1px dotted #F2EBE0;
}

footer ul {
	padding: 20px 0 10px;
}

footer ul li {
	display: inline;
	margin: 0 5px;
}


/* END OF FOOTER */


/* #designModo */
#designModo {
	padding-top: 50px;
	margin: 0 auto;
/* end of designModo */
